In [6]:
mate = {"asignatura": ["algebra", "edo", "diferencial"],
        "curso": ["primero", "segundo", "primero"],
        "duracion": ["16 semanas", "20 semanas", "16 semanas"]}

In [8]:
mate_frame = pd.DataFrame(mate)

In [9]:
mate_frame

    asignatura    curso    duracion
0      algebra  primero  16 semanas
1          edo  segundo  20 semanas
2  diferencial  primero  16 semanas